extends baseEmail

block content
  p Hi #{firstName},
  p Please confirm your account email.
  p If the button is not working, copy and paste the following url in a navigator tab: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm account
  p If you already confirmed your account before, please ignore this email!